[Desktop Entry]
Type=Application
Name=Whispex
GenericName=Speech Recognition
Comment=OpenAI Whisper Speech Recognition Service
Exec=/home/arezvov/projects/ais/whispex/whispex-tray.py
Icon=/home/arezvov/projects/ais/whispex/whispex.png
Terminal=false
Categories=Audio;Utility;AudioVideo;
StartupNotify=true
